*{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

body{
    background-color: black;
    font-weight: bold;
}

pre{
    margin: 0px;
}
.page-nav{
    position:relative;
    z-index:1030;
}

.page-nav > ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    /*    background-color: #D85427;*/
    background-color: lightgoldenrodyellow;
}

.page-nav > ul > li {
    float: left;
}

li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    cursor: pointer;
}

/*
li a:hover{
background-color: #C24B23;
}
*/

.inside{
    border:0px;
    padding:0px;
}

.active {
    background-color: #D85427;
}

li a:hover:not(.active) {
    background-color: #C24B23;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
/*
::-moz-placeholder {  Firefox 19+ 
  color: pink;
}
*/
/*
:-ms-input-placeholder {  IE 10+ 
  color: pink;
}
*/
/*
:-moz-placeholder {  Firefox 18- 
  color: pink;
}
*/

.sales_form{
    /*    position: absolute;*/
    background-color: white;
    left: 0;
    right: 0;
    width: 50%;
    height: 98%;
    margin: auto;
    padding: 0.5%;
    font-family: 'Open Sans Condensed', sans-serif;
    /*    font-family: 'Josefin Sans', sans-serif;*/
}

input, select{
    border-style: solid;
    border-color: #e4dfdf;
    color: black;
    /*    margin-bottom: 10px;*/
    box-sizing: border-box;
}

input{
    padding-left: 7px;
}
select{
    padding-left: 4px;
}

.prod{
    /*    min-width: 50%;*/
    margin-bottom: 0px;
    width: 100%;
}

.btn{
    background-color: #D85427;
    padding: .25em 1.5em;
    border-style: solid;
    border-color: #D85427;
    border-radius: .5em;
    color: white;
    min-width: 100px;
    font-size: 0.875em;
    cursor: pointer;
    box-sizing: border-box;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-right: 1px solid #dddddd;
    text-align: left;
    /*    padding: 8px;*/
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td > input{
    width: 100%;
    margin: 0px;
}

span{
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.delete{
    width: auto;
    color: red;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;    
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
/*    background-color: rgb(0,0,0); */
    background-color: rgba(0,0,0,0.7);  
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-duration: 0.5s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 70%%;
    background-color: white;
    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: slideIn;
    animation-duration: 0.5s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 13px;
    background-color: deepskyblue;
    color: white;
}

.modal-body {padding: 2px 16px;}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: 0; opacity: 0} 
    to {bottom: 70%; opacity: 1}
}

@keyframes slideIn {
    from {bottom: 0; opacity: 0}
    to {bottom: 70%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}