.topnav{
    position:relative;
    top:0;
    right:0;
    left:0;
    z-index:1030;
}

.topnav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.topnav > ul > li {
	float: right;
    color: white;
/*    margin: auto;*/
}

/*
#search, #searchby, #sortby{
    margin-top: 20px;
    height: 26px;
    color: black;
}
*/
b{
    cursor:pointer;
}

#search,#searchby,#sortby,#status,#ad{
    margin-top: 20px;
    height: 26px;
    color: black;
    font-weight: bold;
}

h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 15px;
}

.head > ol > li{
    float: right;
}

table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height: 480px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

.modal-header,.modal-body,.modal-footer{
    background: black;
    
}

.close, .close:hover{
    color: red;
}
/* demo styles */

.delete{
    margin-left: 10px;
    background: red;
    float: right;
    margin-right: 50px;
/*    border: none;*/
}

/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);*/
body{
/*    background: -webkit-linear-gradient(left, #25c481, #25b7c4);*/
/*    background: linear-gradient(to right, #25c481, #25b7c4);*/
    background: black;
    font-family: 'Roboto', sans-serif;
}
section{
    margin: 50px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background: red;
}